.py-5 {
    background-color: #212529;
}
.main{
    color:red;
}
.lead {
    color:white;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}

.lead {
    color: black;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}
