.py-5 {
    background-color: #212529;
}
.main{
    color:red;
}
.lead {
    color:white;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}

.leadx {
    color: black;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}
.teamtable {
    border-collapse: collapse;
    border: 1px #bcbcbc;
    border-radius: 10px;
    
}
.tt_dept_headers {
    text-align: center;
    height: 35px;
    width: 20%;
    vertical-align: center;
    margin-bottom: 5px;
}
