

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    /*box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);*/
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 90%;
    margin: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

#gallery::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #0d6efd;
    top: 50px;
    left: 50%;
    transform: translatex(-50%);
    animation: animate 4s linear infinite;
  }

  @keyframes animate {
    0% {
      width: 100px;
    }
    50% {
      width: 72%;
    }
    100% {
      width: 100px;
    }
  }

  #gallery{
      font-family: 'Cinzel Decorative';
      position: relative;
      top: 10px;
      bottom: 10px;
  }
